@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,200&display=swap");
* {
  font-family: 'Montserrat', sans-serif; }

button {
  background-color: #24305e !important;
  color: white !important;
  border: 2px solid #f2f2f2; }

#red {
  margin-top: 10px;
  height: 15%;
  width: 100%;
  background-color: #f76c6c;
  display: flex;
  justify-content: center; }
  #red #red-cont {
    color: #374785;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #red #red-cont h2 {
      font-weight: lighter;
      font-size: 2rem; }
    #red #red-cont a {
      color: #374785;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: lighter;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

#article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px; }
  #article #article-container {
    width: 85%; }
    #article #article-container img {
      width: 100%; }
    #article #article-container h2 {
      color: #24305e;
      font-size: 2rem;
      font-weight: lighter;
      margin-top: 15px; }
    #article #article-container p {
      width: 99%;
      margin-top: 25px;
      color: gray;
      text-align: justify;
      line-height: 26px;
      font-weight: lighter; }
    #article #article-container .margin-top {
      margin-top: 30px; }
    #article #article-container ul {
      width: 90%;
      margin-left: 10px;
      margin-top: 30px;
      margin-bottom: 15px; }
      #article #article-container ul li {
        width: 99%;
        color: gray;
        text-align: justify;
        line-height: 25px;
        font-weight: lighter; }

#book-sess {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: #a8d0e6;
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #book-sess .yellow {
    display: none; }
  #book-sess #left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 60%; }
    #book-sess #left-info h4 {
      color: #374884f2;
      font-weight: 600;
      font-size: 1.2rem;
      margin-left: -128px; }
    #book-sess #left-info h2 {
      color: #374884f2;
      font-weight: bold;
      font-size: 1.9rem; }
  #book-sess #book-btn {
    width: 50%;
    display: flex;
    justify-content: center; }
    #book-sess #book-btn button {
      font-size: 0.8rem;
      padding: 15px;
      padding-right: 20px;
      padding-left: 20px;
      text-transform: uppercase;
      border-radius: 20px;
      border: 2px solid #374884f2;
      color: #374785;
      font-weight: bolder;
      background-color: tomato;
      transition: 0.2s; }
    #book-sess #book-btn button:focus {
      outline: none; }
    #book-sess #book-btn button:hover {
      border-radius: 0px; }

@media screen and (max-width: 1024px) {
  #red {
    height: auto;
    padding: 50px 0px; }
    #red #red-cont h2 {
      font-size: 3rem; }
    #red #red-cont a {
      font-size: 2rem; }
  #article #article-container h2 {
    font-size: 2.5rem; }
  #article #article-container p {
    font-size: 1.4rem;
    line-height: 36px; }
  #article #article-container ul li {
    font-size: 1rem;
    line-height: 36px; }
  #book-sess #left-info {
    width: 100%;
    height: 30%; }
    #book-sess #left-info h4 {
      font-size: 1.5rem;
      margin-left: -203px; }
    #book-sess #left-info h2 {
      font-size: 2.5rem; }
  #book-sess #book-btn button {
    font-size: 1.1rem;
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px; } }

@media screen and (max-width: 840px) {
  #article #article-container ul li {
    font-size: 1.2rem;
    line-height: 36px; }
  #book-sess {
    flex-direction: column;
    align-items: flex-start; }
    #book-sess .yellow {
      position: relative;
      top: 24px;
      left: 42px; }
    #book-sess #left-info {
      width: 60%;
      height: 30%; }
      #book-sess #left-info h4 {
        font-size: 1.9rem;
        margin-left: -59px; }
      #book-sess #left-info h2 {
        font-size: 2rem; }
    #book-sess #book-btn {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      margin: 20px 0px 0px 40px; }
      #book-sess #book-btn button {
        font-size: 1.1rem;
        padding: 30px;
        padding-right: 30px;
        padding-left: 30px; } }

@media screen and (max-width: 440px) {
  #red #red-cont {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    #red #red-cont h2 {
      font-size: 2rem; }
    #red #red-cont a {
      font-size: 1.4rem; }
  #article #article-container h2 {
    font-size: 2rem; }
  #article #article-container p {
    font-size: 1.1rem;
    line-height: 30px; }
  #article #article-container ul li {
    font-size: 1.1rem;
    line-height: 30px; }
  #book-sess {
    flex-direction: column;
    align-items: flex-start; }
    #book-sess #left-info {
      justify-content: flex-start;
      width: 60%;
      height: 10%; }
      #book-sess #left-info h4 {
        margin-left: 0px;
        font-size: 1.5rem; }
      #book-sess #left-info h2 {
        display: none; }
    #book-sess #book-btn {
      margin-left: 20px; }
      #book-sess #book-btn button {
        font-size: 1.1rem;
        padding: 12px;
        padding-right: 20px;
        padding-left: 20px; } }
